backups/
config/jei/world
crash-reports/
hotbar.nbt
journeymap
local/
logs/
mods/
resourcepacks/
rhino.local.properties
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
usercache.json
usernamecache.json
Xaero*
